.catalog {
    
    margin-bottom: 80px;
}

.catalog__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 16px;

}

.catalog__list {
    display: grid;
    align-items: center;
   
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
}