.content {
    display: flex;
    justify-content: center;
    margin: 50px;

}
.left__content {
    margin: 0;
}

.contact__img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

.img__content {
    width: 600px;
    
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 500px;
}

.name__offer {
    margin-left: 30px;
}

.right__content {
    
    
    
    
}

.info__content {
    
    margin: 10px;
}

.info__offer {
   
    margin-bottom: 40px;
}

.raz {
    margin: 30px;
}

.offer__btn {
    margin-left: 80px;
    margin-top: 80px;
    background: #1d1d1f;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
   
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
}

.offer__btn:hover {
    background: #343438;
}

.description { 
    margin-top: 50px;
    width: 600px;
    height: 200px;
    
    
}

.opisan {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    flex-grow: 1;
    margin-bottom: 4px;
    
}

.offer__text {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    flex-grow: 1;
    margin-bottom: 4px;
    margin-top: 15px;
}

.contact__offer {
    width: 200px;
    height: 75px;
    padding: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
   
    background: linear-gradient(180deg, #dcdcdc 0%, rgba(235,235,235, 0.00) 100%);
}

.btn__contact_offer {
    
    display: flex;
    align-items: center;
    
}

.next {
    display: flex;
    justify-content: center;
    margin: 30px;
    

    
}

.next__btn {
    background: #1d1d1f;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
}

.next__btn:hover {
    background: #343438;
}

.catalog_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.swiper {
    width: 600px;
    height: 500px;
    border-radius: 15px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    align-self: flex-end;
    color: white;
    
   
   
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    align-self: flex-start;
}

