.edit_title {
    margin-bottom: 30px;
    padding-top: 30px;
}

.name_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


.left__content1 {
    width: 600px;
    
    
 
}
.username_static1 {
    margin: 20 0 0 0;

}

.password_static1 {
    margin: 20 0 0 0;
}

.tell_static1 {
    margin: 20 0 0 0;
}

.description1 {
    margin: 20 0 0 0;
}

.description_static1 {
    
}
.name_edit:hover {
    text-decoration: underline;
   
    
}

.offer__text1 {
   width: 500px;
}

.categories_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    
}

.categories_edit:hover {
    text-decoration: underline;
}

.price_edit:hover {
    text-decoration: underline;
}

.price_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.photo_edit:hover {
    text-decoration: underline;
}

.photo_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    
}

.description_edit:hover {
    text-decoration: underline;
}
.description_edit {
    
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.photo_static_edit {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.description_static {
    display: flex;
    justify-content: center;
    
}

.popup-bg6 {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg7 {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg8 {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg9 {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg10 {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background: white;
    padding: 20px;
    transform: translate(-50%,-50%);
    padding-top: 60px;
   
}

.two1 {
    display: flex;
    justify-content: center;
}
.row-of-id-photos1 {
    width: 530px;
   
}

.close-popup {
    position: absolute;
    top: 20px;
    left: 90%;
    cursor: pointer;
    font-size: 40px;
}

.delete {
    padding: 25px;
    display: flex;
    justify-content: center;
    
}

.delete_btn {
    background: #1d1d1f;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
   
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
}

.delete_btn:hover {
    background: #343438;
}

.savebtn {
    margin: 20px;
}