footer {
    border-top: 1px solid rgb(202, 202, 202);

}


.footer__info {
    float: none;
    text-align: center;
    margin: 30px;
   
   
}

html,body {
    height: 100%;
}

main {
    flex:  1 1 auto;
}

.wrapper-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}