.photo {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.account_info {
    display: flex;
    justify-content: center; 
}

.center {
    display: grid;
    justify-content: center;  
}

.account_photo {
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 400px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg,rgb(63, 70, 70),#0071e3)1;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .25);
}




.add_photo {
    background: rgb(203, 203, 222);
    border-radius: 15px;
    width: 100px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    padding: 5px;
    margin: 10px;
    
    
}

.add_photo:hover {
    padding: 5px;
    border-radius: 15px;
    background-color:black;
    font-weight: 400;
    
    color:white;
}

.user_info {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    
}

.username_static {
    margin: 20px;
}

.password_static {
    margin: 20px;
    margin-right: 0px;
}

.tell_static {
    margin: 20px;
    margin-right: 0px;
}

.acc__add {
    margin-left: 50px;
}

.username__acc {
    margin: 20px;
    margin-top: 0;
}

.password__acc {
    margin: 20px
}

.email_static {
    margin: 20px;
    margin-right: 0px;
}

.password__acc_reapit {
    margin: 20px
}

.tell_acc {
    margin: 20px
}

.button__acc {
    margin: 20px
}

.acc_btn {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.acc_btn:hover {
    text-decoration: underline;
}

.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg1 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup-bg4 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background: white;
    padding: 20px;
    transform: translate(-50%,-50%);
    padding-top: 60px;
}

.close-popup {
    position: absolute;
    top: 20px;
    left: 90%;
    cursor: pointer;
    font-size: 40px;
}

.username_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; 
}

.username_edit:hover {
    text-decoration: underline;
}

.password_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;  
}

.password_edit:hover {
    text-decoration: underline;
}

.tell_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;;  
}

.tell_edit:hover {
    text-decoration: underline;
}

.email_edit {
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;  
}

.email_edit:hover {
    text-decoration: underline;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup form input {
    width: 60%;
    border: 2px solid black;
    font-size: 20px;
    margin-bottom: 30px;
    height: 40px;
}


.popup form input[type='submit'] {
    background: black;
    color: white;
}

.no-scroll {
    overflow-y: hidden;
}

.photo-acc {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    justify-self: center;
    object-fit: cover;
    
}

.abc {
    display: none;
}

.label-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    cursor: pointer;
    color: #06c;
    letter-spacing: inherit;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.label-acc:hover {
    text-decoration: underline;
}