.navigation {
    
    
    margin-top: 30px;
}

.navigation__container {
    display: flex;
    align-items: center;
    padding-left: 50vh;
    min-width: 100vw;
}

.navigation__list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 calc(100vw / 2 - vra(--container) / 2);
    column-gap: 8px;
}

.navigation__button {
    width: 100px;
    padding: 3px;
    border-radius: 50px;
    background-color: black;
    font-weight: 400;
    color: white;
}

.navigation__button:hover {
    background-color:white;
    font-weight: 400;
    color:black;
    
}

.kategorii__link {
    display: flex;
    align-items: center;
    column-gap: 30px;    
}



.kategorii {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.select-box {
    border: 1.5px solid black;
    appearance: none;
    padding: 1.8px 25px 1.8px 15px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
    border-radius: 2.5em;
    outline: none;
}

.select-box:hover {
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .55);
}

.select-container {
    position: relative;
    min-width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon-container {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-container i {
    font-size: 30px
    
    
}

.all {
    
    
   
}
.all:hover {
   color: #0071e3;
    
    
    
}

.select-box option {
   background: inherit;
   color: black;
   font-weight: 400;
   font-size: 18px;  
}

.select-box option:hover {
   
}

