.product {
    padding: 4px;
    display: flex;
    flex-direction: column;
    background: #ffff;
    border-radius: 12px;
    height: 375px;
    width: 215px;
    transition: 0.33s;
    background: linear-gradient(180deg, #9f9f9f 0%, rgba(254, 0, 0, 0) 100%);
    
    
}

.catalog__item {
    margin-bottom: 45px;
    
}

.product:hover {
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .75);
    background: linear-gradient(180deg, #d5d4d4 0%, rgba(254, 0, 0, 0) 100%);
   
}
.product__image {
    width: 210px;
    height: 275px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
    display: -webkit-box;
    overflow: hidden;
    
}

.product__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    
    margin-bottom: 4px;
}

.product__detail {
    max-width: 200px;
    
}

.product__weight {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #b1b1b1;
    margin-bottom: 7px;
    
    
}

.product__add {
    background: rgb(203, 203, 222);
    border-radius: 8px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    padding: 9px;

}

.product__add:hover,
.product__add:focus {
    outline: 1px solid green;
    outline-offset: -1px;
}

.nav__filtr {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 10px;
    
}

.filtr {
    display: flex;
    justify-content: center;
    
   
   
}
.menu__navigat {
   
    
    
   
}
    

.text__poisk {
   width: 50vh;
}

