
.product__form {

    display: flex;
    justify-content: center;
   
}

.lot {
    font-weight: 700;
    font-size: 25px;
}

.ob {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
}

.ob:hover {
   
}

.button__form_add {
    
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}


.form_add_btn {
    background: rgb(203, 203, 222);
    border-radius: 15px;
    width: 300px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    padding: 13px; 
    cursor: pointer;
}

.form_add_btn:hover {
    padding: 13px;
    border-radius: 15px;
    background-color:black;
    font-weight: 700;
    cursor: pointer;
    color:white;
}

.photosvg {
    cursor: pointer;
}

.add__name {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.right__content {
    
}

.left__content1 {
    width: 340px;
}

.foto__add {
    margin: 20px;
}

.info__add {
    margin: 20px;
}

.name__product {
    margin: 20px;
}

.kategoriya__product {
    margin: 20px;
}

.opisanie {
    margin: 20px;  
}

.price1 {
    padding: 5px;
    outline: none;
	border: 1px solid black;
	resize: none;
	scrollbar-width: none;
    width: 290px;
    
   
}

.city1 {
    padding: 4.1px;
    outline: none;
	border: 1px solid black;
	resize: none;
	scrollbar-width: none;
    width: 290px;
}
.sostoyanie1 {
    padding: 4.1px;
    outline: none;
	border: 1px solid black;
	resize: none;
	scrollbar-width: none;
    width: 290px;
}
.kategoriya1 {
    padding: 4.1px;
    outline: none;
	border: 1px solid black;
	resize: none;
	scrollbar-width: none;
    width: 290px;
}
.name-product1 {
    padding: 5px;
    outline: none;
	border: 1px solid black;
	resize: none;
	scrollbar-width: none;
    width: 290px;

}
.opisanie1 {
    padding: 5px;
    outline: none;
	border: 1px solid black;
	resize: none;
	scrollbar-width: none;
    height: 170px;
    width: 290px;
}

.sostoyanie {
    margin: 20px;
}

.city {
    margin: 20px;
}

.pric {
    margin: 20px;
}

.popup-bg5 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
    display: none;

}

.popup-bg20 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;

}

.popup_add {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: white;
    padding: 20px;
    transform: translate(-50%,-50%);
    
    font-size: 30px;
    border-radius: 15px;
    align-items: center;
}

  .id-document{
    width: 90px;
    height: 90px;
    background: url(webimage/mario.jpg) no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 3%;
  }
  
  .id-document-close{
    height: 25px;
    width: 25px;
    position: absolute;
    right: -8px;
    top: -6px;
    border-radius: 100px;
    background: url(/img/x-circle-regular-24.png) no-repeat center center;
    background-size: 35px;
    background-color: #ffffff;
    cursor: pointer;
  }