.register__add {
    width: 380px;
    height: 510px;
    background: linear-gradient(180deg, #c0c5ff 0%, rgba(235,235,235, 0.00) 100%);
    border-radius: 15px;
   
    margin-top: 50px;
    margin-bottom: 200px;
}

.register {
    display: flex;
    justify-content: center;
}

.register__form {
    border-bottom: 1px solid black;
}

.reg_label {
    font-weight: 700;
    font-size: 25px;
}
.reg {
    margin-left: 29%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.username__reg {
    margin: 20px;
    margin-left: 40px;
}

.password__reg {
    margin: 20px;
    margin-left: 40px;
}

.password__reg_reapit {
    margin: 20px;
    margin-left: 40px;
}

.mail {
    margin: 20px;
    margin-left: 40px;
}

.tell {
    margin: 20px;
    margin-left: 40px;
}

.referal {
    margin: 20px;
    margin-left: 40px;
}

.button__register_add {
    margin: 40px;
    margin-top: 40px;
    margin-left: 40px;
}

.register_add_btn {
    background: rgb(203, 203, 222);
    border-radius: 15px;
    width: 300px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    padding: 13px;
}

.register_add_btn:hover {
    padding: 13px;
    border-radius: 15px;
    background-color:black;
    font-weight: 700;
    
    color:white;
}

.login_foget {
    
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000000;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.5s;

}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #000000;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label, .input-group input:valid~label {
    top: 0;
    font-size: 14px;
    background: rgb(255, 255, 255);
}


.input-group button {
    border: 1.2px solid #fff;
    border-radius: 5px;
    width: 320px;
    height: 40px;
    transition: 0.5s;

}

.input-group button:hover {
    border: 1.2px solid #000000;
    
}

.login-container p {
    margin: 20px;
    color: white;
    font-weight: 400;
}