<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/404.css"/>
</head>
<body>
    <div class="not-page">
        <h1>404</h1>
        <p>Такой страницы не существует</p>
        <button>Перейти на главную страницу</button>
    </div>
<div class="container-ghost">
    <div class="ghost-tale">
        <div class="tale-one"></div>
        <div class="tale-two"></div>
        <div class="tale-three"></div>
        <div class="tale-four"></div>
    </div>
    <div class="ghost-head">
        <div class="face">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
            <div class="mouth"></div>
        </div>
    </div>
    <div class="shadow"></div>
</div>
</body>
</html>