<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nazvanie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/js">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="#" class="">
                    <p class="logo">Barter App</p>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                        <li class="menu__item"><a href="my_offers.html" class="menu__link">Мои лоты</a></li>

                        <li class="menu__ite"><a href="/templates/my_account.html" class="menu__link_acc">
                                <p class="menu__item">Евгений</p><img
                                    src="/img/336b4eae8d-77d5-4a98-adcb-8f733261b50c.jpg" alt="" class="logo_acc">
                            </a></li>
                        <li class=""><a href="pruduct.html"><button class="menu__btn">Создать бартер</button></li></a>
                    </ul>
                </nav>
                </div>
                </div>
                </header>
                <main>
                    <div class="container">
                        <div class="top_container">
                            <img src="/img/336b4eae8d-77d5-4a98-adcb-8f733261b50c.jpg" alt="" class="logo_another">
                            <p class="another">Елена</p>
                            <p>Последний раз была в сети 10.10.2023</p>
                            <p>Подписчики: 0</p>
                            <button class="follow">Подписаться</button>
                            <button class="follow">Написать</button>
                        </div>
                       
                        <div class="another_offers">
                            <div class="catalog__wrapper">
                                <div class="catalog__wrap_list">
                                    <ul class="catalog__list">
                                        <li class="catalog__item">
                                            <article class="product">
                                                <a href="/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg"
                                                        alt="" class="product__image"></a>
                                                <a href="/offer.html">
                                                    <p class="product__price">Air Pods 2<span class="currency"></span></p>
                                                </a>
                                                <h3 class="product__title">
                                                    <button class="product__detail">Электроника</button>
                                                </h3>
                                                <p class="product__weight">Москва, 21.02.2023</p>
                                                
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                                <div class="next"><a href="" class=""><button class="next__btn">Загрузить еще</button></a></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </main>



    <footer class="footer">
        <div class="container">
            <div class="sale"></div>


            <div class="footer__info">
                <p>2023</p>
            </div>
        </div>
    </footer>


</body>

</html