<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nazvanie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/js">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap"
        rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@500;700&family=Open+Sans&family=Raleway&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="#" class="">
                    <p class="logo">Barter App</p>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                        <li class="menu__item"><a href="my_offers.html" class="menu__link">Мои лоты</a></li>

                        <li class="menu__ite"><a href="/templates/my_account.html" class="menu__link_acc">
                                <p class="menu__item">Евгений</p><img
                                    src="/img/336b4eae8d-77d5-4a98-adcb-8f733261b50c.jpg" alt="" class="logo_acc">
                            </a></li>
                        <li class=""><a href="pruduct.html"><button class="menu__btn">Создать бартер</button></li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
	<div class="category">
		<p>Чат</p>
		</div>
	</div>
    <main class="chatbox">
	<div class="chatbox-wrapper">
		<div class="chatbox-toggle">
			
		</div>
		<div class="chatbox-message-wrapper">
			<div class="chatbox-message-header">
				<div class="chatbox-message-profile">
					<img src="/img/336b4eae8d-77d5-4a98-adcb-8f733261b50c.jpg" alt="" class="chatbox-message-image">
					<div>
						<h4 class="chatbox-message-name">Eugene</h4>
						<p class="chatbox-message-status">online</p>
					</div>
				</div>
				<div class="chatbox-message-item-info">
					<img src="/img/0a15f43d-a25f-4284-8271-ef024d973e0e.jpg" alt="" class="chatbox-message-item-img">
					<p>Air pods 2</p>
					<p>6666 rub</p>
				</div>
				<div class="chatbox-message-dropdown">
					<i class='bx bx-brightness chatbox-message-dropdown-toggle'></i>
					<ul class="chatbox-message-dropdown-menu">
						<li>
							<a href="#">Search</a>
						</li>
						<li>
							<a href="#">Report</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="chatbox-message-content">
				<h4 class="chatbox-message-no-message">Сообщений пока что нет!</h4>
				<!-- <div class="chatbox-message-item sent">
					<span class="chatbox-message-item-text">
						Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Quod, fugiat?
					</span>
					<span class="chatbox-message-item-time">08:30</span>
				</div>
				<div class="chatbox-message-item received">
					<span class="chatbox-message-item-text">
						Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Quod, fugiat?
					</span>
					<span class="chatbox-message-item-time">08:30</span>
				</div> -->
			</div>
			<div class="chatbox-message-bottom">
				<form action="#" class="chatbox-message-form">
					<textarea rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
					<button type="submit" class="chatbox-message-submit"><i class='bx bx-send' ></i></button>
				</form>
			</div>
		</div>
	</div>
</main>

	<script src="/js/chatbox.js"></script>



    <footer class="footer">
        <div class="container">
            <div class="sale"></div>


            <div class="footer__info">
                <p>2023</p>
            </div>
        </div>
    </footer>


</body>

</html