<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nazvanie</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@500;700&family=Open+Sans&family=Raleway&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@500;700&family=Open+Sans&family=Raleway&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="main.html" class="">
                    <p class="logo">Barter App</p>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <div class="select-container">
                            <select class="select-box">
                                <option selected disabled>Категории</option>
                                <option value="q">Личные вещи</option>
                                <option value="w">Электроника</option>
                                <option value="e">Дом</option>
                                <option value="r">Хобби</option>
                                <option value="r">Животные</option>
                                <option value="r">Авто</option>
                                <option value="r">Услуги</option>
                            </select>
                            <div class="icon-container">
                                <i class='bx bx-down-arrow-alt'></i>
                            </div>
                        </div>
                        <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                        <li class="menu__item"><a href="login.html" class="menu__link">Войти</a></li>
                        <li class=""><a href="registrer.html"><button class="menu__btn">Регистрация</button></li></a>
                    </ul>
                </nav>
            </div>
        </div>


    </header>
    <main>
        <!--<div class="container">
            <div class="filtr">

                <nav class="menu__navigat">
                    <ul class="nav__filtr">
                      <div class="select-container">
                        <select class="select-box">
                            <option selected disabled>Категории</option>
                            <option value="q">Личные вещи</option>
                            <option value="w">Электроника</option>
                            <option value="e">Дом</option>
                            <option value="r">Хобби</option>
                            <option value="r">Животные</option>
                            <option value="r">Авто</option>
                            <option value="r">Услуги</option>    
                        </select>
                        <div class="icon-container">
                            <i class='bx bx-down-arrow-alt'></i>
                        </div>
                      </div>
                            <form class="search-box">
                                <input type="text" placeholder="Поиск"/>
                                <button type="reset"></button>
                              </form> 
                    </ul>
                </nav>

            </div>
        </div> -->
        <div class="container">
            <nav class="kategorii">
                <ul class="kategorii__link">
                    <li class="all"><a href="">Все лоты</a></li>
                    <li class="all"><a href="">Личные вещи</a></li>
                    <li class="all"><a href="">Электроника</a></li>
                    <li class="all"><a href="">Дом</a></li>
                    
                    <li class="all"><a href="">Животные</a></li>
                    <li class="all"><a href="">Авто</a></li>
                    <li class="all"><a href="">Услуги</a></li>
                    <form class="search-box">
                        <input type="text" placeholder="Поиск" />
                        <button type="reset"></button>
                    </form>


                </ul>
            </nav>
        </div>
        <section class="catalog">
            <div class="container">
                <div class="catalog__wrapper">
                    <div class="category">
                    <p>Хобби</p>
                    <div class="select-container1">
                        <select class="select-box1">
                            <option selected disabled>Все</option>
                            <option value="q">Личные вещи</option>
                            <option value="w">Электроника</option>
                            <option value="e">Дом</option>
                            <option value="r">Хобби</option>
                            <option value="r">Животные</option>
                            <option value="r">Авто</option>
                            <option value="r">Услуги</option>
                        </select>
                        <div class="icon-container1">
                            <i class='bx bx-down-arrow-alt'></i>
                        </div>
                    </div>
                </div>
                <div class="navigat_small">
                    <a href="">
                        <p class="text_navigat_small">Каталог</p>
                    </a><span class="text_navigat_small">/</span>
                    <a href="">
                        <p class="text_navigat_small">Электроника</p>
                    </a><span class="text_navigat_small"></span>
                    <a href="">
                        <p class="text_navigat_small"></p>
                    </a><span class="text_navigat_small"></span>
                </div>
                    
                    <div class="catalog__wrap_list">
                        <ul class="catalog__list">
                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img
                                            src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt=""
                                            class="product__image"></a>
                                    <a href="/templates/offer.html">
                                        <p class="product__price">Air Pods 2Air Pods 2Airrtyrt rt tyer ert er Pods 2Air
                                            Pods 2Air Pods 2<span class="currency"></span></p>
                                    </a>
                                    <h3 class="product__title">
                                        <p class="product__detail">Электроника</p>
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img
                                            src="/img//0a15f43d-a25f-4284-8271-ef024d973e0e.jpg" alt=""
                                            class="product__image"></a>
                                    <a href="/templates/offer.html">
                                        <p class="product__price">Air Pods 2<span class="currency"></span></p>
                                    </a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button>
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>
                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img
                                            src="/img//336b4eae8d-77d5-4a98-adcb-8f733261b50c.jpg" alt=""
                                            class="product__image"></a>
                                    <a href="/templates/offer.html">
                                        <p class="product__price">Air Pods 2<span class="currency"></span></p>
                                    </a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button>
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img
                                            src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt=""
                                            class="product__image"></a>
                                    <a href="/templates/offer.html">
                                        <p class="product__price">Air Pods 2<span class="currency"></span></p>
                                    </a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button>
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>
                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img
                                            src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt=""
                                            class="product__image"></a>
                                    <a href="/templates/offer.html">
                                        <p class="product__price">Air Pods 2<span class="currency"></span></p>
                                    </a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button>
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img
                                            src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt=""
                                            class="product__image"></a>
                                    <a href="/templates/offer.html">
                                        <p class="product__price">Air Pods 2<span class="currency"></span></p>
                                    </a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button>
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img
                                            src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt=""
                                            class="product__image"></a>
                                    <a href="/templates/offer.html">
                                        <p class="product__price">Air Pods 2<span class="currency"></span></p>
                                    </a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button>
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <div class="next"><a href="" class=""><button class="next__btn">Загрузить еще</button></a></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="sale"></div>
            <div class="footer__info">
                <p>2023</p>
            </div>
        </div>
    </footer>
    <script src="./script.js"></script>
</body>

</html>