<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nazvanie</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="main.html" class="">
                    <p class="logo">Barter App</p>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                        <li class="menu__item"><a href="login.html" class="menu__link">Войти</a></li>
                        <li class=""><a href="registrer.html"><button class="menu__btn">Регистрация</button></li></a>
                    </ul>
                </nav>
            </div>
        </div>
    
       
    </header>
    <main>
        <div class="container">
        <div class="filtr">
            
            <nav class="menu__navigat">
                <ul class="nav__filtr">
                    <li><select name="kategoriya" id="">
                        <option value="new">Электроника</option>
                        <option value="old">Дом</option>
                        <option value="old">Авто</option>
                        <option value="old">Одежда</option>
                        <option value="old">Другое</option>
                    </select></li>
                    <li><input class="text__poisk" type="text"></li>
                    <li><button class="navigation__button">Найти</button></li>
                </ul>
            </nav>
                
        </div>
    </div>
    <div class="container"> 
        <nav class="kategorii">
            <ul class="kategorii__link">
                <li class="all"><a href="">Все лоты</a></li>
                <li class="all"><a href="">Личные вещи</a></li>
                <li class="all"><a href="">Электроника</a></li>
                <li class="all"><a href="">Дом</a></li>
                <li class="all"><a href="">Хобби</a></li>
                <li class="all"><a href="">Животные</a></li>
                <li class="all"><a href="">Авто</a></li>
                
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="navigat_small">
            <a href=""><p class="text_navigat_small">Каталог</p></a><span class="text_navigat_small">/</span>
            <a href=""><p class="text_navigat_small">Электроника</p></a><span class="text_navigat_small"></span>
            <a href=""><p class="text_navigat_small"></p></a><span class="text_navigat_small"></span>
        </div>
    </div>
    
        
        <section class="catalog">
            <div class="container">
                <div class="catalog__wrapper">
                    <h2 class="catalog_title">Товары
                    </h2>
                    <div class="catalog__wrap_list">
                        <ul class="catalog__list">
                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt="" class="product__image"></a>
                                    <a href="/templates/offer.html"><p class="product__price">Air Pods 2<span class="currency"></span></p></a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button> 
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt="" class="product__image"></a>
                                    <a href="/templates/offer.html"><p class="product__price">Air Pods 2<span class="currency"></span></p></a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button> 
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>
                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt="" class="product__image"></a>
                                    <a href="/templates/offer.html"><p class="product__price">Air Pods 2<span class="currency"></span></p></a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button> 
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt="" class="product__image"></a>
                                    <a href="/templates/offer.html"><p class="product__price">Air Pods 2<span class="currency"></span></p></a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button> 
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>
                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt="" class="product__image"></a>
                                    <a href="/templates/offer.html"><p class="product__price">Air Pods 2<span class="currency"></span></p></a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button> 
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt="" class="product__image"></a>
                                    <a href="/templates/offer.html"><p class="product__price">Air Pods 2<span class="currency"></span></p></a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button> 
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>

                            <li class="catalog__item">
                                <article class="product">
                                    <a href="/templates/offer.html"><img src="/img/e17190e4-bc0d-4f6a-8071-fe9091c1d41f.jpg" alt="" class="product__image"></a>
                                    <a href="/templates/offer.html"><p class="product__price">Air Pods 2<span class="currency"></span></p></a>
                                    <h3 class="product__title">
                                        <button class="product__detail">Электроника</button> 
                                    </h3>
                                    <p class="product__weight">Москва, 21.02.2023</p>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <div class="next"><a href="" class=""><button class="next__btn">Загрузить еще</button></a></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="sale"></div>

        
        <div class="footer__info">
            <p>2023</p>
        </div>
    </div>
    </footer>

    
</body>
</html>