<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nazvanie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/js">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@500;700&family=Open+Sans&family=Raleway&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="#" class="">
                    <p class="logo">Barter App</p>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                        <li class="menu__item"><a href="my_offers.html" class="menu__link">Мои лоты</a></li>

                        <li class="menu__ite"><a href="login.html" class="menu__link_acc">
                                <p class="menu__item">Евгений</p><img
                                    src="/img/336b4eae8d-77d5-4a98-adcb-8f733261b50c.jpg" alt="" class="logo_acc">
                            </a></li>
                        <li class=""><a href="pruduct.html"><button class="menu__btn">Создать бартер</button></li></a>
                    </ul>
                </nav>
            </div>
        </div>


    </header>
    <div class="container">
        <div class="category">
            <p>Мой аккаунт</p>
        </div>
        <div class="navigat_small">
            <a href="">
                <p class="text_navigat_small">Каталог</p>
            </a><span class="text_navigat_small">/</span>
            <a href="">
                <p class="text_navigat_small">Электроника</p>
            </a><span class="text_navigat_small"></span>
            <a href="">
                <p class="text_navigat_small"></p>
            </a><span class="text_navigat_small"></span>
        </div>
        <main class="account_info">
            <div class="account_photo"><img class="photo" src="/img/336b4eae8d-77d5-4a98-adcb-8f733261b50c.jpg" alt="">
                
            </div>
            <div class="user_info">
                <div class="username_static">
                    <p>Имя: Евгений <button class="username_edit">Изменить</button></p>
                    
                </div>
                <div class="password_static">
                    <p>Пароль: ****** <button class="password_edit">Изменить</button></p>
                </div>
                <div class="tell_static">
                    <p>Телефон: 89991112233 <button class="tell_edit">Изменить</button></p>
                </div> <div class="email_static">
                    <p>Email: slonik_zloy@mail.ru <button class="email_edit">Изменить</button></p>
                </div>
                <button class="add_photo">Сменить фотографию</button>
            </div>
            <div class="popup-bg">
                <div class="popup">
                    <button class="close-popup">X</button>
                    <form action="">
                        <input type="text" name="popup-form" placeholder="Новое имя"  minlength="1" maxlength="25" required>
                        <input type="submit" value="Сохранить">
                    </form>  
                </div>
            </div>
            <div class="popup-bg1">
                <div class="popup">
                    <button class="close-popup">X</button>
                    <form action="">
                        <input type="password" name="popup-form" placeholder="Новый пароль"  minlength="1" maxlength="30" required>
                        <input type="password" name="popup-form" placeholder="Повторите пароль"  minlength="1" maxlength="30" required>
                        <input type="submit" value="Сохранить">
                    </form>  
                </div>
            </div>
            <div class="popup-bg2">
                <div class="popup">
                    <button class="close-popup">X</button>
                    <form action="">
                        <input type="text" name="popup-form" placeholder="Новый телеофн"  minlength="11" maxlength="12" pattern="\+?[0-9\s\-\(\)]+" required>
                        <input type="submit" value="Сохранить">
                    </form>  
                </div>
            </div>
            <div class="popup-bg3">
                <div class="popup">
                    <button class="close-popup">X</button>
                    <form action="">
                        <input type="email" name="popup-form" placeholder="Новый email"  minlength="1" maxlength="30" required>
                        <input type="submit" value="Сохранить">
                    </form>  
                </div>
            </div>
            <div class="popup-bg4">
                <div class="popup">
                    <button class="close-popup">X</button>
                    <form action="">
                        <p>Сменить фотографию</p>
                        <input type="file" name="popup-form" placeholder=>
                        <input type="submit" value="Сохранить">
                    </form>  
                </div>
            </div>
         
        </main>
    </div>




    <footer>
        <div class="container">
            <div class="sale"></div>


            <div class="footer__info">
                <p>2023</p>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/js/my_account.js"></script>
<script src="jquery.min.js"></script>
</body>

</html