<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nazvanie</title>
    <link rel="stylesheet" href="/js">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="#" class="">
                    <p class="logo">Barter App</p>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                        <li class="menu__item"><a href="login.html" class="menu__link">Войти</a></li>
                        <li class=""><button class="menu__btn">Регистрация</button></li>
                    </ul>
                </nav>
            </div>
        </div>


    </header>
    <div class="container">
        <div class="navigat_small">
            <a href="">
                <p class="text_navigat_small">Каталог</p>
            </a><span class="text_navigat_small">/</span>
            <a href="">
                <p class="text_navigat_small">Электроника</p>
            </a><span class="text_navigat_small">/</span>
            <a href="">
                <p class="text_navigat_small">...</p>
            </a><span class="text_navigat_small"></span>
        </div>
    </div>
    <main class="product__form">
        <div class="container">
            <div class="info__product_add">
                <div class="add__name">
                    <h5 class="lot">
                        Добавление лота
                    </h5>
                </div>
                <div class="product__containe">
                    <form class="" action="#" method="post" enctype="multipart/form-data">
                        <div class="ob">
                            <div class="left__content">
                                <div class="foto__add">
                                    <p>Добавить фотографии</p>
                                    <input type="file" multiple name="userfoto">
                                </div>

                                <div class="name__product">
                                    <p>Название лота</p>
                                    <input class="" type="text"  minlength="1" maxlength="30" required>
                                </div>
                                <div class="kategoriya__product">
                                    <p>Категория лота</p>
                                    <select name="kategoriya" id="" required>
                                        <option value="new">Электроника</option>
                                        <option value="old">Дом</option>
                                        <option value="old">Авто</option>
                                        <option value="old">Одежда</option>
                                        <option value="old">Другое</option>
                                    </select>
                                </div>
                                <div class="opisanie">
                                    <p>Описание</p>
                                    <textarea name="opisanie" id="" cols="30" rows="10"  minlength="1" maxlength="200" required></textarea>
                                </div>
                            </div>
                            <div class="right__content">
                                <div class="sostoyanie">
                                    <p>Состояние</p>
                                    <select name="sostoyanie" id="" required>
                                        <option value="new">Новый</option>
                                        <option value="old">Б/У</option>
                                    </select>
                                </div>
                                <div class="city">
                                    <p>Город</p>
                                    <select name="city" id="" required>
                                        <option value="new">Москва</option>
                                        <option value="old">Тула</option>
                                        <option value="old">Санкт-Петербург</option>
                                        <option value="old">Люберцы</option>
                                    </select>
                                </div>
                                <div class="pric">
                                    <p>Цена</p>
                                    <input class="price" type="text"  minlength="1" maxlength="30" required pattern="^[0-9]+$">Руб.
                                </div>
                                <div class="button__form_add">
                                    <button class="form_add_btn" type="submit">Разместить</button>
                                </div>
                            </div>
                        </div>
                        <div class="popup-bg5">
                            <div class="popup_add">
                                    <p>Лот успешно добавлен!</p>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="sale"></div>


            <div class="footer__info">
                <p>2023</p>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/product.js"></script>
    <script src="jquery.min.js"></script>
</body>

</html>