<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nazvanie</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="#" class="">
                    <p class="logo">Barter App</p>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                        <li class="menu__item"><a href="login.html" class="menu__link">Войти</a></li>
                        <li class=""><a href="registrer.html"><button class="menu__btn">Регистрация</button></li></a>
                    </ul>
                </nav>
            </div>
        </div>


    </header>
    <main class="register">
        <div class="container">
            <div class="register__add">
                <div class="reg">
                    <h6 class="reg_label">
                        Регистрация
                    </h6>
                </div>
                <form class="register__form" action="#" method="post" enctype="multipart/form-data">
                    <div class="username__reg">
                        <p>Имя</p>
                        <input class="" type="text"  minlength="1" maxlength="30" required >
                    </div>
                    <div class="password__reg">
                        <p>Пароль</p>
                        <input class="" type="password" inputmode="numeric" minlength="1" maxlength="30"  required>
                    </div>
                    <div class="password__reg_reapit">
                        <p>Повторите пароль</p>
                        <input class="" type="password" inputmode="numeric" minlength="1" maxlength="30" required>
                    </div>
                    <div class="mail">
                        <p>E-mail</p>
                        <input class="" type="email"   minlength="1" maxlength="30" required>
                    </div>
                    <div class="tell">
                        <p>Телефон</p>
                        <input class="" type="tel" minlength="11" maxlength="12" pattern="\+?[0-9\s\-\(\)]+" required>
                    </div>
                    <div class="referal">
                        <p>Промокод</p>
                        <input class="" type="text">
                    </div>
                    <div class="button__register_add">
                        <button class="register_add_btn" type="submit">Регистрация</button>
                    </div>

                </form>
                <div class="login_foget">
                    <a href="">
                        <p>Войти</p>
                    </a>
                    <a href="">
                        <p>Забыл пароль</p>
                    </a>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="container">
            <div class="sale"></div>


            <div class="footer__info">
                <p>2023</p>
            </div>
        </div>
    </footer>


</body>

</html>