<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Swiper</title>
  <link rel="stylesheet" href="/style/card-swiper-main/card.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper-wrapper">
  <header class="header">
    <div class="container">
        <div class="header__top">
            <a href="#" class="">
                <p class="logo">Barter App</p>
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <form class="search-box">
                        <input type="text" placeholder="Поиск" />
                        <button type="reset"></button>
                    </form>
                    <li class="menu__item"><a href="index.html" class="menu__link">Каталог</a></li>
                    
                    <li class="menu__item"><a href="my_offers.html" class="menu__link">Регистрация</a></li>
                    <li class=""><a href="pruduct.html"><button class="menu__btn">Войти</button></li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
  </header>
  <main>
  <div class="tinder-content">
  <ion-icon id="dislike" name="heart-dislike"></ion-icon>
  <div id="swiper">
    <!-- <div class="card" style="--i:0">
      <img src="https://source.unsplash.com/random/1000x1000/?sky" alt="">
    </div>
    <div class="card" style="--i:1">
      <img src="https://source.unsplash.com/random/1000x1000/?landscape" alt="">
    </div>
    <div class="card" style="--i:2">
      <img src="https://source.unsplash.com/random/1000x1000/?ocean" alt="">
    </div>
    <div class="card" style="--i:3">
      <img src="https://source.unsplash.com/random/1000x1000/?moutain" alt="">
    </div>
    <div class="card" style="--i:4">
      <img src="https://source.unsplash.com/random/1000x1000/?forest" alt="">
    </div> -->
  </div>
  <ion-icon id="like" name="heart"></ion-icon>
</div>
  <script src="/style/card-swiper-main/card.js"></script>
  <script src="/style/card-swiper-main/cardcard.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</main>
<footer>
    <div class="container">
        <div class="sale"></div>
        <div class="footer__info">
            <p>2023</p>
        </div>
    </div>
</footer>
</body>
</html>